html*{
    box-sizing: border-box;
}
body{
    /* margin: 0;   */
    background: #555555;
}
main{
    display: flex;
}
/* ---------------
      サイドバー 
------------------*/
.sidebar{
    flex: 1.5 1.5 auto;
    min-width :250px;
    display: flex;
    flex-direction: column;
}
.sidebar_head{
    flex: 0 0 auto;
    padding: 10px 30px 10px 30px;
    background: #44546a;
}
.sidebar_head_text{
    color: #ffffff;
    font-weight: bold;
}
.sidebar_title_list{
    flex: 1 1 auto;
    overflow:auto;
    background: #006699;
    height: 100vh;
}
.title{
    padding: 10px 30px 10px 30px;
    color: #ffffff;
}
.sidebar_make_title{
    position: fixed;
    bottom: 0px;
    width: 100%;
}
.sidebar_make_title_text{
    color: #ffffff;
    padding: 10px 0;
    border-top: 1px solid #ffffff;
}
/* ---------------
  メインカラム 
------------------*/
.main_column{
    flex: 3 3 auto;
    min-width :600px;
    display: flex;
    flex-direction: column;  
}
.main_column_head{
    flex: 0 0 auto;
    padding: 10px 30px 10px 30px;
    background: #006699;
}
.main_column_head_text{
    color: #ffffff;
    font-weight: bold;
}
.main_column_output{
    flex: 1 1 600px;
}


/*----------------
      ヘッダー 
 ----------------*/
/* .header_container{
    display: flex;    
    background: #555555;
}
.header_sidebar{
    flex: 0 0 500px;
    padding: 20px 30px 20px 30px;
    background: #44546a;
}
.header_sidebar_title{
    color: #ffffff;
    font-weight: bold;
    font-size: large;
}

.header_maincol{
    flex: 1 1 auto;
    padding: 20px 30px 20px 30px;
    background: #006699;
} */

/*-------------
 メインコンテンツレイアウト 
 ---------------*/
/* main{}
.main_container{
    display: flex;
    background: #ffffff;       
}
/* サイドバー */
/* .main_sidebar{
    flex: 0 0 500px;
    height:700px;
    padding: 30px;
    overflow:auto;
    background: #006699;
} */
/* .title{
    padding: 10px 0 10px 0;
    color: #ffffff;
} */
/* スレッド内容表示部 */
/* .maincol{
    flex: 1 1 auto;
    height:700px;
    padding: 30px;
    padding: 30px 0 30px 0;
    background: #DDDDDD;
}  */

/*------------- 
     フッター 
 --------------*/
/* .footer_container{
    display: flex;    
    background: #555555;
}
.footer_sidebar{
    flex: 0 0 500px;
    padding: 0 30px 15px 30px;
    background: #006699;
}
.footer_sidebar_title{
    color: #ffffff;
    padding: 10px 0;
    border-top: 1px solid #ffffff;
}
#make_title{
    width: 492px;
}
.make_title_send_wrapper{
    padding: 10px 0;
}
#make_title_send{

} */
